@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
  body {
    background-color: #f2f2f2;
    background: url(Image/blue-cloud.jpg);
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3px;
  }
  h2{
    text-align: center;
  }
  .backbtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: black;
  }
  .backbtn:hover{
    color: darkgray;
    transition: .2s ease-in-out;
  }
  .consultant-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .consultant-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .consultant-list {
    display: none;
  }
  
  .consultant-list.show {
    display: block;
  }
  #consultants img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
  }
  
  #consultants img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }
  .consultant-list {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .consultant-list h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  #consultants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #consultants li {
    display: grid;
    grid-template-columns: 2fr;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  
  #consultants li h3 {
    margin: 0;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    font-size: 12px;
  }
  
  #consultants li img {
    max-width: 100%;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  
  #consultants li p {
    margin: 0;
    font-size: 14px;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  
  #consultants li button {
    padding: 1px 50px;
    background-color: transparent;
    color: black;
    border: black solid 1px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }  
  
  #consultants li button:hover {
    background-color: #0062cc;
    transition: .2s ease-in-out;
  }
  
  .selected {
    border: 4px solid red;
    transform: scale(1.3);
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
  }
  
  
  .container {
    width: 80%;
    margin: auto;
    margin-bottom: 0px;
    background-color: #fff;
    border: black solid 2px;
    padding: 20px;
    border-radius: 8px;
  }
  
  
  h1 {
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 48%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    font-size: 16px;
  }
  
  .form-group select option {
    color: #000;
  }
  
  .form-group input[type="file"] {
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
  }

  .back-button{
    display: none;
  }
  
  .payment {
    display: none;
  }
  
  .payment h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #service{
    max-width: 200px;
  }
  
  button[type="submit"] {
    margin-top: 60px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /*footer*/

  footer {
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  footer h4 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  footer hr {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin: 30px 0;
  }
  
  footer ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
  }
  footer ul .list-inline-item{
    justify-content: flex-start;
  }
  
  footer li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  footer i {
    margin-right: 10px;
    font-size: 20px;
  }
  
  footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer .float-md-right {
    text-align: right;
  }
  
  footer .list-inline-item {
    margin-right: 10px;
    font-size: 20px;
  }
  
  footer .list-inline-item:last-child {
    margin-right: 0;
  }
  
  /* media queries */
  @media screen and (max-width: 768px) {
    .form-group {
      width: 100%;
    }
    #consultants {
      grid-template-columns: 1fr;
    }
    
  }
  
  @media screen and (max-width: 480px) {
    .container {
      width: 90%;
    }
  
    .form-group input,
    .form-group select,
    .form-group textarea {
      font-size: 14px;
    }
  
    button[type="submit"] {
      font-size: 14px;
    }
  }